<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div data-role="view" data-title="Topology" data-layout="main" data-model="APP.models.topology">
    </div>
    <div class="container-fluid" id="container"></div>
    <script src="scripts/sigma.min.js"></script>
    <script src="scripts/sigma.parsers.json.min.js"></script>
    <script src="scripts/sigma.plugins.dragNodes.js"></script>
    <!--<script src="js/shape-library.js"></script>
                                    <script src="js/sigma.renderers.customShapes.js"></script>-->
    <script>
        var g = {
            nodes: [],
            edges: []
        };

        sigma.renderers.def = sigma.renderers.canvas


        s = new sigma({
            graph: g,
            container: 'container',
            renderer: {
                container: document.getElementById('container'),
                type: 'canvas'
            },
            settings: {
                minNodeSize: 8,
                maxNodeSize: 16
            }
        });



        sigma.parsers.json('http://147.83.113.109:8080/jersey-quickstart-webapp/beflow/myresource/getTopologyController',
            s,
            function () {
                // this is needed in case the original JSON doesn't have color / size / x-y attributes
                var i,
                    nodes = s.graph.nodes(),
                    len = nodes.length;

                for (i = 0; i < len; i++) {
                    nodes[i].x = Math.random();
                    nodes[i].y = Math.random();
                    nodes[i].size = s.graph.degree(nodes[i].id);
                    nodes[i].color = nodes[i].center ? '#ff8100' : '#ff8100';
                    nodes[i].type = 'pacman'

                }


                // Refresh the display:
                s.refresh();

            }
        );

        // Initialize the dragNodes plugin:
        var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

        dragListener.bind('startdrag', function (event) {
            console.log(event);
        });
        dragListener.bind('drag', function (event) {
            console.log(event);
        });
        dragListener.bind('drop', function (event) {
            console.log(event);
        });
        dragListener.bind('dragend', function (event) {
            console.log(event);
        });
    </script>
    </div>
</body>

</html>